{% extends 'base.html' %}

{% block body %}

	<section class="mx-auto col-12 col-sm-10 col-md-8 col-lg-6">
		<h2>Nowe konto</h2>
			<div id="subtitle">Utwórz konto, aby w pelni móc korzystać z serwisu.</div>
			
			<div class="registerorloginwindow mb-5">
		
			<form method="post" action="/signup/create">
			
				<div class="input-group mx-auto col-12 col-sm-10">
					<div class="input-group-prepend"><i class="icon-user icons px-1"></i>
					<input class="form-control userinput" type="text" name="username" placeholder="imie" aria-label="imie" required></div>
					<div class="error mb-2 ml-4">
						{% if user.e_name is not empty %}
						{{ user.e_name }} 
						{% endif %}
					</div>

				</div>
				<div class="input-group mx-auto col-12 col-sm-10">
					<div class="input-group-prepend"><i class="icon-mail-alt icons px-1"></i>
					<input class="form-control userinput" type="text" name="email" placeholder="e-mail" aria-label="e-mail" required type = "email"></div>
					<div class="error mb-2 ml-4">
						{% if user.e_email is not empty %}
						{{ user.e_email }} 
						{% endif %}
					</div>
				</div>
				
				<div class="input-group mx-auto col-12 col-sm-10">
					<div class="input-group-prepend"><i class="icon-lock icons px-1"></i>
					<input class="form-control userinput" type="password" name="password" placeholder="hasło" aria-label="haslo" required pattern="^(?=.*([A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title ="Minimum 8 znaków, conajmniej 1 litera i cyfra" ></div>
					<div class="error mb-2 ml-4">
						{% if user.e_password is not empty %}
						{{ user.e_password }} 
						{% endif %}
					</div>
				</div>
				
				<div class="input-group mx-auto col-12 col-sm-10">
					<div class="input-group-prepend"><i class="icon-lock icons px-1"></i>
					<input class="form-control userinput" type="password" name="password_confirmation" placeholder="potwierdź hasło" aria-label="potwierdź hasło" required></div>
					<div class="error mb-2 ml-4">
						{% if user.e_password_confirm is not empty %}
						{{ user.e_password_confirm }} 
						{% endif %}
					</div>
				</div>

				<button class="btn submitregistration mx-auto col-12 col-sm-10 col-lg-6" type="submit">Utwórz konto</button>
			</form>
		</div>
	</section>
{% endblock %}

	