{% extends 'menubase.html' %}

{% block body %}

<section class="mx-auto px-2">
		<div class="row">
			<div class="addoperation text-center mx-auto my-5 py-4 bg-white col-sm-10 col-md-7 ">
					<h4 class="mt-2 mb-5 font-weight-bold">USTAWIENIA</h4>
					<h5 class="mt-5 mb-3">DANE UŻYTKOWNIKA</h5>
					
					<label class="text-left">imię</label>
					<div class="input-group col-sm-12 col-lg-10 col-xl-8 mx-auto">
						<input class="form-control" value="" disabled>
							<div class="input-group-append">
								<button class="btn ml-1" type="button" ><i class="icon-pencil"></i></button>
								</div>
					</div>
						
					<label>e-mail</label>
					<div class="input-group col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" value="" disabled>
								<div class="input-group-append">
									<button class="btn ml-1" type="button" ><i class="icon-pencil"></i></button>
								</div>
						</div>
						
						<label>hasło</label>
						<div class="input-group col-sm-12 col-lg-10 col-xl-8 mx-auto">
								<input class="form-control" value="" disabled>
									<div class="input-group-append">
										<button class="btn ml-1" type="button" ><i class="icon-pencil"></i></button>
									</div>
							</div>
							
					<h5>KATERGORIE PRZYCHODÓW</h5>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="wynagrodzenie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="odsetki" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="sprzedaż na allegro" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="inne" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<button class="btn my-4" type="button"><i class="icon-tags mr-2"></i>Dodaj nową kategorię</button>
						
						
						<h5>KATEGORIE WYDATKÓW</h5>
						
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="jedzenie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="mieszkanie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="transport" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="telekomunikacja" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="opieka zdrowotna" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="ubranie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="higiena" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="dzieci" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="rozrywka" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="wycieczka" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="szkolenia" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="książki" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="oszczędności" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="na emeryturę" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="spłąta długów" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="darowizna" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="inne wydatki" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<button class="btn my-4" type="button"><i class="icon-tags mr-2"></i>Dodaj nową kategorię</button> 
						
						<h5>RODZAJE PŁATNOŚCI</h5>
						
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="gotówka" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="karta kredytowa" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="karta debetowa" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="Bitcoin" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						
						<button class="btn my-4" type="button"><i class="icon-tags mr-2"></i>Dodaj nową kategorię</button>
            </div>
					
		</div>
		</section>
{% endblock %}