{% extends 'menubase.html' %}

{% block header %}
	<nav class="navbar mt-4 bg-white navbar-expand-lg">
				
		<button class="navbar-toggler my-2 ml-2" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="icon-menu-1"></span>
		</button>
			
		<div class="collapse navbar-collapse" id="mainmenu">
			 
			<ul class="navbar-nav mx-auto">
			
				<li class="col-lg-2 ml-1 nav-item">
					<a class="nav-link" href="/menuPage/start"><i class="icon-home mr-2"></i>Strona główna</a>
				</li>
					
				<li class="col-lg-2 nav-item">
					<a class="nav-link" href="/menuPage/income"><i class="icon-money mr-2"></i>Dodaj przychód</a>
				</li>
					
				<li class="col-lg-2 nav-item">
					<a class="nav-link" href="/menuPage/expense"><i class="icon-shopping-basket mr-2"></i>Dodaj wydatek</a>
				</li>
					
				<li class="col-lg-2 nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"><i class="icon-chart-pie mr-2"></i>Przeglądaj bilans</a>
					
					<div class="dropdown-menu col-lg-12" aria-labelledby="submenu">
					
						<a class="dropdown-item" href="/menuPage/balancecm">bieżący miesiąc</a>
						<a class="dropdown-item" href="/menuPage/balancelm">poprzedni miesiąc</a>
						<a class="dropdown-item" href="/menuPage/balancecy">bieżący rok</a>
						<a class="dropdown-item" href="/menuPage/balancec">niestandardowy</a>
					
					</div>
				</li>
					
				<li class="col-lg-2 nav-item active">
					<a class="nav-link" href="/menuPage/settings"><i class="icon-cog mr-2"></i>Ustawienia</a>
				</li>
					
				<li class="col-lg-2 mr-1 nav-item">
					<a class="nav-link" href="/logout"><i class="icon-logout mr-2"></i>Wyloguj się</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block body %}

<section class="mx-auto px-2">
		<div class="row">
			<div class="addoperation text-center mx-auto my-5 py-4 bg-white col-sm-10 col-md-7 ">
					<h4 class="mt-2 mb-5 font-weight-bold">USTAWIENIA</h4>
					<h5 class="mt-5 mb-3">DANE UŻYTKOWNIKA</h5>
					
					<label class="text-left">imię</label>
					<div class="input-group col-sm-12 col-lg-10 col-xl-8 mx-auto">
						<input class="form-control" value="" disabled>
							<div class="input-group-append">
								<button class="btn ml-1" type="button" ><i class="icon-pencil"></i></button>
								</div>
					</div>
						
					<label>e-mail</label>
					<div class="input-group col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" value="" disabled>
								<div class="input-group-append">
									<button class="btn ml-1" type="button" ><i class="icon-pencil"></i></button>
								</div>
						</div>
						
						<label>hasło</label>
						<div class="input-group col-sm-12 col-lg-10 col-xl-8 mx-auto">
								<input class="form-control" value="" disabled>
									<div class="input-group-append">
										<button class="btn ml-1" type="button" ><i class="icon-pencil"></i></button>
									</div>
							</div>
							
					<h5>KATERGORIE PRZYCHODÓW</h5>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="wynagrodzenie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="odsetki" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="sprzedaż na allegro" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="inne" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<button class="btn my-4" type="button"><i class="icon-tags mr-2"></i>Dodaj nową kategorię</button>
						
						
						<h5>KATEGORIE WYDATKÓW</h5>
						
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="jedzenie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="mieszkanie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="transport" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="telekomunikacja" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="opieka zdrowotna" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="ubranie" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="higiena" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="dzieci" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="rozrywka" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="wycieczka" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="szkolenia" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="książki" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="oszczędności" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="na emeryturę" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="spłąta długów" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="darowizna" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="inne wydatki" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<button class="btn my-4" type="button"><i class="icon-tags mr-2"></i>Dodaj nową kategorię</button> 
						
						<h5>RODZAJE PŁATNOŚCI</h5>
						
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="gotówka" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="karta kredytowa" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="karta debetowa" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						<div class="input-group mb-1 col-sm-12 col-lg-10 col-xl-8 mx-auto">
							<input class="form-control" type="text" value="Bitcoin" disabled="">
							<div class="input-group-append">
								<button class="btn mx-1" type="button" ><i class="icon-pencil"></i></button>
								<button class="btn" type="button"><i class="icon-trash-empty"></i></button>
							</div>
						</div>
						
						<button class="btn my-4" type="button"><i class="icon-tags mr-2"></i>Dodaj nową kategorię</button>
            </div>
					
		</div>
		</section>
{% endblock %}