{% extends 'menubase.html' %}

{% block header %}
	<nav class="navbar mt-4 bg-white navbar-expand-lg">
				
		<button class="navbar-toggler my-2 ml-2" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="icon-menu-1"></span>
		</button>
			
		<div class="collapse navbar-collapse" id="mainmenu">
			 
			<ul class="navbar-nav mx-auto">
			
				<li class="col-lg-2 ml-1 nav-item active">
					<a class="nav-link" href="/menuPage/start"><i class="icon-home mr-2"></i>Strona główna</a>
				</li>
					
				<li class="col-lg-2 nav-item">
					<a class="nav-link" href="/menuPage/income"><i class="icon-money mr-2"></i>Dodaj przychód</a>
				</li>
					
				<li class="col-lg-2 nav-item">
					<a class="nav-link" href="/menuPage/expense"><i class="icon-shopping-basket mr-2"></i>Dodaj wydatek</a>
				</li>
					
				<li class="col-lg-2 nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"><i class="icon-chart-pie mr-2"></i>Przeglądaj bilans</a>
					
					<div class="dropdown-menu col-lg-12" aria-labelledby="submenu">
					
						<a class="dropdown-item" href="/menuPage/balancecm">bieżący miesiąc</a>
						<a class="dropdown-item" href="/menuPage/balancelm">poprzedni miesiąc</a>
						<a class="dropdown-item" href="/menuPage/balancecy">bieżący rok</a>
						<a class="dropdown-item" href="/menuPage/balancec">niestandardowy</a>
					
					</div>
				</li>
					
				<li class="col-lg-2 nav-item">
					<a class="nav-link" href="/menuPage/settings"><i class="icon-cog mr-2"></i>Ustawienia</a>
				</li>
					
				<li class="col-lg-2 mr-1 nav-item">
					<a class="nav-link" href="/logout"><i class="icon-logout mr-2"></i>Wyloguj się</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block body %}
	<div class="mx-auto px-2">
	
	{% for message in flash_messages %}
		
		<div class="alert alert-{{ message.type }} mt-4 mx-auto col-12 col-sm-10 col-md-6 col-lg-4"> 
		{{ message.body }}
		</div>
		{% endfor %}
		<div class="row justify-content-around align-self-center">
		
			<figure>
				
				<figcaption>
					{% if current_user.username %}
					Witaj {{ current_user.username }}!
					{% else %}
					<a href="/"></a>
					{% endif %}
					<p>Zacznij korzystać z aplikacji</p>
				</figcaption>
					<div class="registerorloginwindow mb-5"><img class="img-fluid col-sm-12" src="/img/budzet.png" alt=""> </div>
			</figure>
		</div>
	</div>		

{% endblock %}


	