<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>mojeFinanse.pl</title>
		<meta name="description" content="Zacznij panowac nad swoimi finansami!"/>
		<meta name="keywords" content="finanse, pieniadze, budzet" />
		<link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/bootstrap/fontello.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<header>
					<h1 class="logo">
						<a href='/'><div style="display:inline-block"><span style="color:#cda3bc"><i class="icon-wallet"></i>moje</span></div><div style="display:inline-block" class="logofinanse">Finanse.pl</div></a>
					</h1>
					<h3 class="text-center">Aplikacja do zarządzania budżetem osobistym</h3>
					
					{% for message in flash_messages %}
					<div class="alert alert-{{ message.type }} mt-4 mx-auto col-12 col-sm-10 col-md-8 col-lg-6"> 
						{{ message.body }}
					</div>
					{% endfor %}
				</header>
				
				{% block body %}
				{% endblock %}	
			</div>
		</div>
			
	</body>
	<footer>
		<div class="footer text-center">2021 © Kinga Kowal</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src ="js/bootstrap.min.js"></script>
</html>